body{
	font-family: monospace;
	margin:0px;
	padding: 0;
}
.row {
	display: flex;
	justify-content:space between;
	gap: 20px;
}
.facts{
	font-size: 30px;
}
.about-section{
	padding: 50px;
	text-align: center;
	background-color: black;
	color: white;
}
.container{
	padding: 0 16px;
}
.column,.row{
	border:2px solid ;
}
.column{
	padding: 10px;
	width: 100%;
}


